@model Grandine.Models.CommesseXTecnici

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommesseXTecnici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Commesse.Codice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commesse.Codice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnici.Codice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnici.Codice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Torna a lista", "Index", null, new { @class = "btn btn-primary" })
</p>
