@model Grandine.Models.TelaiAnagrafica

@{
    ViewBag.Title = "Delete";
}
<br />

<h4>Cancella telaio</h4>
<br />
<h5>Confermi di voler cancellare ?</h5>
<br />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Telaio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telaio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modello)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.InsertUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annotazioni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annotazioni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NFattAttiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NFattAttiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFattAtt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFattAtt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpFattAtt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpFattAtt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bisarchista.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bisarchista.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bisarchista1.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bisarchista1.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrozzeria.RagioneSociale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrozzeria.RagioneSociale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrozzeria1.RagioneSociale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrozzeria1.RagioneSociale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commesse.Codice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commesse.Codice)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Torna a lista", "Index", new { IDCommessa = Session["IDCommessa"] },new { @class = "btn btn-primary" })
        </div>
    }
</div>
