@model Grandine.Models.TelaiAnagrafica

@{
    /**/

    /**/

    ViewBag.Title = "Edit";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    jQuery('#datetimepicker').datepicker();
</script>
<br />
@*<h4>Modifica telaio </h4>*@

@*<br />
    <div>
        @Html.ActionLink("Torna a lista", "Index", new { IDCommessa = Session["IDCommessa"] }, new { @class = "btn btn-primary" })
        <br /><br />
    </div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IDCommessa)

    <form>
        <div class="form-row">
            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.Telaio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Telaio, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.Telaio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.Modello, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Modello, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.Modello, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.DataIn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.DataIn, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.DataIn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.DataOut, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.DataOut, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.DataOut, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.Chiave, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Chiave, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.Chiave, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.Fila, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Fila, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.Fila, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-row">
                    <div class="form-group col-md-12">
                        <hr class="nero" />
                        <b class="sectionlabel">Dati fatturazione attiva / passiva</b>
                        <br />
                    </div>
            </div>*@


        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.Label("Data att", htmlAttributes: new { @class = "control-label col-md-6" })
                <div>
                    @Html.EditorFor(model => model.DataFattAtt, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.DataFattAtt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.Label("Imp att", htmlAttributes: new { @class = "control-label col-md-6" })
                <div>
                    @Html.EditorFor(model => model.ImpFattAtt, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.ImpFattAtt, "", new { @class = "text-danger" })

                </div>
            </div>


        </div>


        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.Label("Tecnico", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.DropDownList("IDTecnico", null, htmlAttributes: new { @class = "form-control", @style = "height:35px" })
                    @Html.ValidationMessageFor(model => model.IDTecnico, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Fattura", htmlAttributes: new { @class = "control-label col-md-3" })
            <div>
                @Html.EditorFor(model => model.NumFattTecnico, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                @Html.ValidationMessageFor(model => model.NumFattTecnico, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Data", htmlAttributes: new { @class = "control-label col-md-3" })
            <div>
                @Html.EditorFor(model => model.DataFatturaPassiva, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                @Html.ValidationMessageFor(model => model.DataFatturaPassiva, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Importo", htmlAttributes: new { @class = "control-label col-md-3" })
            <div>
                @Html.EditorFor(model => model.ImportoFattPass, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                @Html.ValidationMessageFor(model => model.ImportoFattPass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="form-group col-md-2">
                    <b style="color:black">Fatturato : @ViewBag.Fatturato</b> @*&nbsp;*@
                </div>
                <div class="form-group col-md-2">
                    <b style="color:red">Costi : @ViewBag.Totale</b> @*&nbsp;*@
                </div>
                <div class="form-group col-md-2">
                    <b style="color:green">Margine : @ViewBag.Differenza</b>@*&nbsp;&nbsp;&nbsp;*@
                </div>
                <div class="form-group col-md-3">
                    <b style="color:black">Status attuale : @ViewBag.LastStatus</b>
                </div>
                @*&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*@
                @*<div class="form-group col-md-2">
                    @Html.ActionLink("Ricambi", "Index", new { IDCommessa = Session["IDCommessa"] }, new { @class = "btn btn-primary btn-sm" })
                </div>*@
                    @*@Html.ActionLink("Status", "InsertStatus", "TelaiAnagraficas", new { IDTelaio = Model.ID }, new { @class = "btn btn-primary btn-sm" })*@
                    @*@Html.ActionLink("Status", "Index", new { IDCommessa = Session["IDCommessa"] }, new { @class = "btn btn-primary btn-sm" })*@
                <div class="form-group col-md-3">
                    <div>
                        <b>Status:</b> @Html.DropDownList("IDStatus", null, htmlAttributes: new { @class = "form-control", @style = "height:35px" })
                    </div>
                </div>
                    <br />
                </div>
            </div>



        @*<div class="form-row">
            <div class="form-group col-md-12">

                <hr class="nero" />
                <b style="color:darkgreen">Altri dati</b>
                <br />
            </div>
        </div>*@

        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.Label("Carrozzeria1", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.DropDownList("IDCarrozzeria1", null, htmlAttributes: new { @class = "form-control", @style = "height:35px" })
                    @Html.ValidationMessageFor(model => model.IDCarrozzeria1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.Label("Fattura", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.EditorFor(model => model.NumFattCarrozzeria1, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.NumFattCarrozzeria1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Data fatt", htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.DataFatturaCarrozzeria1, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.DataFatturaCarrozzeria1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Importo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.ImportoCarrozzeria1, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.ImportoCarrozzeria1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">

                @*<hr class="nero" />
                    <b class="sectionlabel>Carrozzeria 2</b>
                    <br />*@
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.Label("Carrozzeria2", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.DropDownList("IDCarrozzeria2", null, htmlAttributes: new { @class = "form-control", @style = "height:35px" })
                    @Html.ValidationMessageFor(model => model.IDCarrozzeria2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.Label("Fattura", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.EditorFor(model => model.NumFattCarrozzeria2, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.NumFattCarrozzeria2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Data fatt", htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.DataFatturaCarrozzeria2, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.DataFatturaCarrozzeria2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Importo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.ImportoCarrozzeria2, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.ImportoCarrozzeria2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-12">

                @*<hr class="nero" />
                    <b class="sectionlabel">Carglass</b>
                    <br />*@
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.Label("Carrozzeria3", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.DropDownList("IDCarrozzeria3", null, htmlAttributes: new { @class = "form-control", @style = "height:35px" })
                    @Html.ValidationMessageFor(model => model.IDCarrozzeria3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.Label("Fattura", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.EditorFor(model => model.NumFattCarrozzeria3, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.NumFattCarrozzeria3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Data fattura", htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.DataFatturaCarrozzeria3, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.DataFatturaCarrozzeria3, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Importo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.ImportoCarrozzeria3, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.ImportoCarrozzeria3, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">

                @*<hr class="nero" />
                    <b class="sectionlabel">Bisarchista ANDATA</b>
                    <br />*@
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.Label("BisarchistaA", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.DropDownList("IDBisarchistaAndata", null, htmlAttributes: new { @class = "form-control", @style = "height:35px" })
                    @Html.ValidationMessageFor(model => model.IDBisarchistaAndata, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.Label("Fattura", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.EditorFor(model => model.NumFattBisarchistaA, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.NumFattBisarchistaA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Data fattura", htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.DataFattBisarchistaA, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.DataFattBisarchistaA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Costo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.CostoAndata, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.CostoAndata, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">

                @*<hr class="nero" />
                    <b class="sectionlabel">Bisarchista RITORNO</b>
                    <br />*@
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.Label("BisarchistaR", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.DropDownList("IDBisarchistaRitorno", null, htmlAttributes: new { @class = "form-control", @style = "height:35px" })
                    @Html.ValidationMessageFor(model => model.IDBisarchistaRitorno, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.Label("Fattura", htmlAttributes: new { @class = "control-label col-md-3" })
                <div>
                    @Html.EditorFor(model => model.NumFattBisarchistaR, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.NumFattBisarchistaR, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Data fattura", htmlAttributes: new { @class = "control-label col-md-4" })
                <div>
                    @Html.EditorFor(model => model.DataFattBisarchistaR, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.DataFattBisarchistaR, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Costo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.CostoRitorno, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.CostoRitorno, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                @*<br /><br />
                    <hr class="nero" />
                    <b class="sectionlabel">Costi</b>
                    <br />*@
            </div>
        </div>
        @*<div class="form-row">
                @Html.Label("Costi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Costi, new { htmlAttributes = new { @class = "form-control", @style = "height:20px" } })
                    @Html.ValidationMessageFor(model => model.Costi, "", new { @class = "text-danger" })
                </div>


            </div>*@

        @*<div class="form-row">
                <div class="form-group col-md-12">
                    <br /><br />
                    <hr class="nero" />
                    <b class="sectionlabel">Note</b>
                    <br />
                </div>
            </div>*@



        <div class="form-row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Annotazioni, htmlAttributes: new { @class = "control-label col-md-12" })
                @*<div>*@
                    @Html.TextAreaFor(model => model.Annotazioni, new { htmlAttributes = new { @class = "form-control input-lg" } })
                    @Html.ValidationMessageFor(model => model.Annotazioni, "", new { @class = "text-danger" })
                @*</div>*@
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="submit" value="Salva dati" class="btn btn-success" />
                @Html.ActionLink("Torna a lista", "Index", new { IDCommessa = Session["IDCommessa"] }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Ricambi", "Edit", "Ricambi", new { IDTelaio = Model.ID }, new { @class = "btn btn-default" })
            </div>
        </div>


    </form>
}

