@model IEnumerable<Grandine.Models.Telai_LastStatus_vw>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
@Styles.Render("~/Content/mygrid.css")

<br />
<h4>Gestione telai</h4>
<br />
<p>
    @Html.ActionLink("Inserisci telaio", "Create", new { IDCommessa = Session["IDCommessa"] }, new { @class = "btn btn-primary" })
</p>
<br />
<table id="ElencoTelai" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Telaio</th>
            <th>Modello</th>
            <th>Status</th>
            <th>Ins.</th>
            <th>Modifica</th>
            <th>Cancella</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telaio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modello)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStatus)
            </td>
            <td>
                @Html.ActionLink("Status", "InsertStatus", new { IDTElaio = item.ID }, new { @class = "btn btn-success btn-xs" })
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", new { IDTelaio = item.ID }, new { @class = "btn btn-success btn-xs" })

                @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-info" })*@
            </td>
            <td>
                @Html.ActionLink("Cancella", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-xs" })
            </td>
            <td>
                @Html.ActionLink("Foto", "ScattaFoto", new { IDTelaio = item.ID }, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Telaio</th>
            <th>Modello</th>
            <th>Status</th>
            <th>Ins.</th>
            <th>Modifica</th>
            <th>Cancella</th>
            <th>Foto</th>
        </tr>
    </tfoot>
</table>
<br />
<div>
    @Html.ActionLink("Torna a pagina principale", "LoginInUse", "Home", new { aCodiceUtente = Session["UserName"].ToString() }, new { @class = "btn btn-primary" })
</div>
<script>
    $(document).ready(function () {
        $('#ElencoTelai').DataTable();
    });
</script>