@model IEnumerable<Grandine.Models.TelaiAnagrafica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Telaio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modello)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annotazioni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NFattAttiva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFattAtt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImpFattAtt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bisarchista.Descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bisarchista1.Descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrozzeria.RagioneSociale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrozzeria1.RagioneSociale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commesse.Codice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Telaio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annotazioni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NFattAttiva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFattAtt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImpFattAtt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bisarchista.Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bisarchista1.Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrozzeria.RagioneSociale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrozzeria1.RagioneSociale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commesse.Codice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
