@model IEnumerable<Grandine.Models.FotoXTelaio_vw>

@{
    /**/

    ViewBag.Title = "Gestione documenti";
}
<br />
<h4>Gestione documenti</h4>
<br />
@Html.ActionLink("Torna a lista", "Index", new { IDCommessa = Session["IDCommessa"] }, new { @class = "btn btn-primary" })
<br />
<br />
@using (Html.BeginForm("Upload", "TelaiAnagraficas", new { IDTelaio = ViewBag.IDTelaio }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <table border="0">
        <thead>
            <tr>
                @*<td>
                        <label for="file">Upload Image:</label>
                    </td>
                    <td> - </td>*@
                <td>
                    <input type="file" name="files" multiple id="files_0" />
                </td>
                @*<td> - </td>*@


            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Upload" class="submit" />
                </td>
            </tr>

        </thead>
    </table>

    <br />
    <table>
        <tr>
            <td>
                @Html.Label("Tipo", htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("IDTipoDocumento", (SelectList)ViewData["TipiDocumento"], new { @class = "form-control" })
            </td>
        </tr>
    </table>

}

<hr>

@foreach (var item in Model)
{
    <table border="0">
        <tr>
            <td></td>
            <td>
                <img src="@Url.Content("~/DocumentiXTelai/" + item.NomeFile)" title="@Url.Content(item.NomeFile)" alt="Image" style='height: 480px; width: 640px; object-fit: contain'>

            </td>
            <td>&nbsp;&nbsp;</td>
            <td>@Html.Label(item.TipoDocumento.ToString())</td>
            <td>&nbsp;&nbsp;</td>
            <td>

                @Html.ActionLink("Elimina", "CancellaDocumento", new { IDDocumento = item.ID, IDTelaio = item.IDTelaio, nomefile = item.NomeFile }, new { @class = "btn btn-danger btn-xs" })
            </td>


        </tr>
        
    </table>

}

