@model Grandine.Models.StoricoStatus

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StoricoStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnici.Codice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnici.Codice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utenti.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelaiAnagrafica.Telaio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelaiAnagrafica.Telaio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
