@model IEnumerable<Grandine.Models.StoricoStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InsertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Descr)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Tecnici.Codice)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Utenti.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelaiAnagrafica.Telaio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InsertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Descr)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Tecnici.Codice)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Utenti.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelaiAnagrafica.Telaio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
