<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Gestione Concessionari", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @try
                    {

                        if (!String.IsNullOrEmpty(Session["UserName"].ToString()))
                        {
                            if (Session["Classeutente"].ToString() == "1")
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Angrafiche<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a>@Html.ActionLink("Commesse", "Index", "Commesses")</a></li>
                                        <li><a>@Html.ActionLink("Status", "Index", "Status")</a></li>
                                        <li><a>@Html.ActionLink("Bisarchisti", "Index", "Bisarchistas")</a></li>
                                        <li><a>@Html.ActionLink("Clienti", "Index", "Clientis")</a></li>
                                        <li><a>@Html.ActionLink("Città", "Index", "Cittas")</a></li>
                                        <li><a>@Html.ActionLink("Tecnici", "Index", "Tecnicis")</a></li>
                                        <li><a>@Html.ActionLink("Carrozzerie", "Index", "Carrozzerias")</a></li>


                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Associazioni<b class="caret"></b></a>
                                    <ul class="dropdown-menu">

                                        <li><a>@Html.ActionLink("Associa Cliente x Tecnici", "Index", "ClientiXTecnicis")</a></li>
                                        <li><a>@Html.ActionLink("Associa Commesse x Tecnici", "Index", "CommesseXTecnicis")</a></li>
                                        <li><a>@Html.ActionLink("Associa Commesse x Clienti", "Index", "CommesseXClientis")</a></li>
                                        <li><a>@Html.ActionLink("Associa Commesse x Bisarchisti", "Index", "CommesseXBisarchistis")</a></li>
                                        <li><a>@Html.ActionLink("Associa Commesse x Carrozzerie", "Index", "CommesseXCarrozzeries")</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    @Html.ActionLink("Reports", "Menu", "Home")
                                </li>
                            }
                            @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestione rilevamenti<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a>@Html.ActionLink("Telai", "Index", "TelaiCompleti", new { test = 2 }, null)</a></li>
                    </ul>
                </li>*@

                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Importazione dati<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a>@Html.ActionLink("Importa da file txt", "Index", "InsertTelaiFromList")</a></li>
                                </ul>
                            </li>*@

                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            @*<li>@Html.ActionLink("Test", "Index", "Test")</li>
                            <li>@Html.ActionLink("Ricambi", "Index", "Ricambi")</li>*@
                        }
                        else
                        {
                            @*<li>@Html.ActionLink("Login", "Login", "Home")</li>*@
                        }
                    }
                    catch
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gestione Concessionari</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
