@model Grandine.Models.HomeModel

@{
    ViewBag.Title = "Utente autenticato";
}
<br />
<h4>Utente autenticato</h4>
<br />
<div>
    @{var item = Model.Utenti.ToList();}

    Benvenuto <b>@item[0].Nome  @item[0].Cognome</b>
    Utente di classe : @ViewBag.DescrizioneClasse;

</div>
<br />

<div>

</div>
<br />
<br />
<div>
    <table border="0">
        <thead>
            Clienti attualmente attivi :
        </thead>
        <tbody>
            @foreach (var itemC in Model.Clienti)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => itemC.Codice)
                    </td>
                    <td>
                        &nbsp;-&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => itemC.RagioneSociale)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<br />

@*<div>

            @Html.DropDownList("SearchLocation", (SelectList)ViewData["Clienti"], new  {   @class = "form-control",  @onchange = "this.form.submit();"})

    </div>*@
<br />
<div>
    @using (Html.BeginForm("Index", "Commesses", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.DropDownList("SearchLocation", (SelectList)ViewData["Commesse"], new { @class = "form-control" })
        <div>
            <button type="submit" class="btn btn-primary">Vai a gestione dati</button>
        </div>
    }
</div>
<br />