@model Grandine.Models.Ricambi

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ricambi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @*@Html.HiddenFor(model => model.IDTelaio)*@

        <div class="form-group">
            @Html.LabelFor(model => model.IDTelaio, "IDTelaio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDTelaio", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDTelaio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COFANO_ANT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.COFANO_ANT)
                    @Html.ValidationMessageFor(model => model.COFANO_ANT, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LOGO_ANT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.LOGO_ANT)
                    @Html.ValidationMessageFor(model => model.LOGO_ANT, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FANALE_ANT_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FANALE_ANT_SX)
                    @Html.ValidationMessageFor(model => model.FANALE_ANT_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FRECCIA_PARAURT_ANT_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FRECCIA_PARAURT_ANT_SX)
                    @Html.ValidationMessageFor(model => model.FRECCIA_PARAURT_ANT_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CATADIOTTRO_ANT_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CATADIOTTRO_ANT_SX)
                    @Html.ValidationMessageFor(model => model.CATADIOTTRO_ANT_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FRECCIA_PARAFANGO_ANT_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FRECCIA_PARAFANGO_ANT_SX)
                    @Html.ValidationMessageFor(model => model.FRECCIA_PARAFANGO_ANT_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CALANDRA_SOTTOPARABREZZA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CALANDRA_SOTTOPARABREZZA)
                    @Html.ValidationMessageFor(model => model.CALANDRA_SOTTOPARABREZZA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PARABREZZA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PARABREZZA)
                    @Html.ValidationMessageFor(model => model.PARABREZZA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GUARNIZIONE_PARABREZZA_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.GUARNIZIONE_PARABREZZA_SX)
                    @Html.ValidationMessageFor(model => model.GUARNIZIONE_PARABREZZA_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORPO_SPECCHIO_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORPO_SPECCHIO_SX)
                    @Html.ValidationMessageFor(model => model.CORPO_SPECCHIO_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VETRINO_SPECCHIO_RETROVISORE_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.VETRINO_SPECCHIO_RETROVISORE_SX)
                    @Html.ValidationMessageFor(model => model.VETRINO_SPECCHIO_RETROVISORE_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CALOTTA_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CALOTTA_SX)
                    @Html.ValidationMessageFor(model => model.CALOTTA_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FRECCIA_SPECCHIO_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FRECCIA_SPECCHIO_SX)
                    @Html.ValidationMessageFor(model => model.FRECCIA_SPECCHIO_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORNICE_PORTA_ANT_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORNICE_PORTA_ANT_SX)
                    @Html.ValidationMessageFor(model => model.CORNICE_PORTA_ANT_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTANTE_ANT_PORTA_ANT_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MONTANTE_ANT_PORTA_ANT_SX)
                    @Html.ValidationMessageFor(model => model.MONTANTE_ANT_PORTA_ANT_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTANTE_POST_PORTA_ANT_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MONTANTE_POST_PORTA_ANT_SX)
                    @Html.ValidationMessageFor(model => model.MONTANTE_POST_PORTA_ANT_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORNICE_PORTA_POST_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORNICE_PORTA_POST_SX)
                    @Html.ValidationMessageFor(model => model.CORNICE_PORTA_POST_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTANTE_ANT_PORTA_POST_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MONTANTE_ANT_PORTA_POST_SX)
                    @Html.ValidationMessageFor(model => model.MONTANTE_ANT_PORTA_POST_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTANTE_POST_PORTA_POST_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MONTANTE_POST_PORTA_POST_SX)
                    @Html.ValidationMessageFor(model => model.MONTANTE_POST_PORTA_POST_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORNICE_PARAFANGO_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORNICE_PARAFANGO_SX)
                    @Html.ValidationMessageFor(model => model.CORNICE_PARAFANGO_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RASAVETRO_ANT_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RASAVETRO_ANT_SX)
                    @Html.ValidationMessageFor(model => model.RASAVETRO_ANT_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RASAVETRO_POST_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RASAVETRO_POST_SX)
                    @Html.ValidationMessageFor(model => model.RASAVETRO_POST_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORRIMANO_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORRIMANO_SX)
                    @Html.ValidationMessageFor(model => model.CORRIMANO_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BASE_ANTENNA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.BASE_ANTENNA)
                    @Html.ValidationMessageFor(model => model.BASE_ANTENNA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TERZO_STOP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TERZO_STOP)
                    @Html.ValidationMessageFor(model => model.TERZO_STOP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORNICE_COFANO_POST, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORNICE_COFANO_POST)
                    @Html.ValidationMessageFor(model => model.CORNICE_COFANO_POST, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FANALE_POST_PARAFANGO_SX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FANALE_POST_PARAFANGO_SX)
                    @Html.ValidationMessageFor(model => model.FANALE_POST_PARAFANGO_SX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COFANO_POST, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.COFANO_POST)
                    @Html.ValidationMessageFor(model => model.COFANO_POST, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LOGO_POST, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.LOGO_POST)
                    @Html.ValidationMessageFor(model => model.LOGO_POST, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LUNOTTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.LUNOTTO)
                    @Html.ValidationMessageFor(model => model.LUNOTTO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CAPPELLIERA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CAPPELLIERA)
                    @Html.ValidationMessageFor(model => model.CAPPELLIERA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SPORTELLO_CARBURANTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.SPORTELLO_CARBURANTE)
                    @Html.ValidationMessageFor(model => model.SPORTELLO_CARBURANTE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORRIMANO_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORRIMANO_DX)
                    @Html.ValidationMessageFor(model => model.CORRIMANO_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RASAVETRO_POST_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RASAVETRO_POST_DX)
                    @Html.ValidationMessageFor(model => model.RASAVETRO_POST_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RASAVETRO_ANT_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RASAVETRO_ANT_DX)
                    @Html.ValidationMessageFor(model => model.RASAVETRO_ANT_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORNICE_PARAFANGO_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORNICE_PARAFANGO_DX)
                    @Html.ValidationMessageFor(model => model.CORNICE_PARAFANGO_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORNICE_PORTA_POST_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORNICE_PORTA_POST_DX)
                    @Html.ValidationMessageFor(model => model.CORNICE_PORTA_POST_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTANTE_ANT_PORTA_POST_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MONTANTE_ANT_PORTA_POST_DX)
                    @Html.ValidationMessageFor(model => model.MONTANTE_ANT_PORTA_POST_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTANTE_POST_PORTA_POST_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MONTANTE_POST_PORTA_POST_DX)
                    @Html.ValidationMessageFor(model => model.MONTANTE_POST_PORTA_POST_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORNICE_PORTA_ANT_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORNICE_PORTA_ANT_DX)
                    @Html.ValidationMessageFor(model => model.CORNICE_PORTA_ANT_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTANTE_ANT_PORTA_ANT_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MONTANTE_ANT_PORTA_ANT_DX)
                    @Html.ValidationMessageFor(model => model.MONTANTE_ANT_PORTA_ANT_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTANTE_POST_PORTA_ANT_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.MONTANTE_POST_PORTA_ANT_DX)
                    @Html.ValidationMessageFor(model => model.MONTANTE_POST_PORTA_ANT_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CORPO_SPECCHIO_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CORPO_SPECCHIO_DX)
                    @Html.ValidationMessageFor(model => model.CORPO_SPECCHIO_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VETRINO_SPECCHIO_RETROVISORE_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.VETRINO_SPECCHIO_RETROVISORE_DX)
                    @Html.ValidationMessageFor(model => model.VETRINO_SPECCHIO_RETROVISORE_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CALOTTA_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CALOTTA_DX)
                    @Html.ValidationMessageFor(model => model.CALOTTA_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FRECCIA_SPECCHIO_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FRECCIA_SPECCHIO_DX)
                    @Html.ValidationMessageFor(model => model.FRECCIA_SPECCHIO_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GUARNIZIONE_PARABREZZA_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.GUARNIZIONE_PARABREZZA_DX)
                    @Html.ValidationMessageFor(model => model.GUARNIZIONE_PARABREZZA_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FRECCIA_PARAFANGO_ANT_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FRECCIA_PARAFANGO_ANT_DX)
                    @Html.ValidationMessageFor(model => model.FRECCIA_PARAFANGO_ANT_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CATADIOTTRO_ANT_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CATADIOTTRO_ANT_DX)
                    @Html.ValidationMessageFor(model => model.CATADIOTTRO_ANT_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FANALE_ANT_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FANALE_ANT_DX)
                    @Html.ValidationMessageFor(model => model.FANALE_ANT_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FRECCIA_PARAURTI_ANT_DX, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FRECCIA_PARAURTI_ANT_DX)
                    @Html.ValidationMessageFor(model => model.FRECCIA_PARAURTI_ANT_DX, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
