@model Grandine.Models.Commesse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commesse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success") |
    @Html.ActionLink("Torna a lista", "Index", null, new { @class = "btn btn-primary" })
</p>
