@model Grandine.Models.Clienti

@{
    ViewBag.Title = "Details";
}
<br />
<h4>Tabella Clienti</h4>
<br />
<div>
    <h4>Clienti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RagioneSociale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RagioneSociale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comune)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comune)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Via)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Via)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiorniPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiorniPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Torna a lista", "Index",null, new { @class = "btn btn-primary" })
</p>
